##############
# TOP SECRET #
##############

# bot token
config.ini

# info about user banners, user sets, messages and stuff
data.json
messages.json

# info for some additional functionality
meta.json

# temporarily saved images
temp/

# local cache
__pycache__/

# PyCharm stuff
.idea
venv

# Backups of all kinds
backups/

# logs
logs.txt
