##############
# TOP SECRET #
##############

# bot token
config.ini

# info about user banners and user sets
data.json

# temporarily saved images
temp/

# local cache
__pycache__/

# PyCharm stuff
.idea
venv
